.sign-up {
  @media (min-width: 768px) {
    padding-left: $layout-05 + $spacing-03; // 72px + 8px which is default from carbon
  }
}

.get-started {
  @media (min-width: 768px) {
    padding: $layout-05 + $layout-01 $layout-05 + $spacing-03;
  }
}

.section {
  margin: 0; // removes the default margin from carbon grids bx--col
}

.section__title {
  @include carbon--type-style('productive-heading-05');
  margin-top: $spacing-08;
}

.section__title--how-it-works {
  font-weight: 100;
}

.section__text {
  @include carbon--type-style('body-short-01');
  margin-top: $spacing-05;
}

.section--gradient {
  background: linear-gradient(
    to right,
    rgba(201, 222, 255, 1) 0%,
    rgba(230, 214, 255, 1) 50%,
    rgba(243, 243, 243, 1) 100%
  );
}

.button--sign-up {
  margin-top: $spacing-07;
}

.get-started__steps-container {
  margin-top: $spacing-08;
  margin-bottom: $spacing-08;
  padding-left: $spacing-05;
  border-left: 1px solid #00000060;
}

.step__title {
  @include carbon--type-style('productive-heading-04');
  margin-top: $spacing-07;
  font-weight: 100;
}

.step__body {
  @include carbon--type-style('body-short-01');
  margin-top: $spacing-05;
}

.learn-more {
  padding-right: $layout-01;
  padding-left: $layout-01;

  @media (min-width: 768px) {
    padding-left: $layout-05 + $spacing-03;
  }
}

.link--learn-more {
  display: inline-block;
  margin-top: $spacing-03;
  margin-bottom: $spacing-09;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
