@import "./overrides";

.sign-up {
  @media (min-width: 768px) {
    padding-left: $layout-05 + $spacing-03;
  }
}

.section {
  margin: 0;
}

.section__title {
  @include carbon--type-style("productive-heading-05");
  margin-top: $spacing-08;

  &--how-it-works {
    font-weight: 100;
  }
}

.section__subtitle {
  @include carbon--type-style("body-short-01");
  margin-top: $spacing-05;
}

.section--gradient {
  background: linear-gradient(
    to right,
    rgba(201, 222, 255, 1) 0%,
    rgba(230, 214, 255, 1) 50%,
    rgba(243, 243, 243, 1) 100%
  );
}

.get-started {
  @media (min-width: 768px) {
    padding: $layout-05 + $layout-01 $layout-05 + $spacing-03;
    padding-right: 0;
  }
}

.sign-up__button {
  margin-top: $spacing-07;
}

.get-started__steps-container {
  margin-top: $spacing-08;
  margin-bottom: $spacing-08;
  padding-left: 16px;
  border-left: 1px solid #00000060;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.step__title {
  @include carbon--type-style("productive-heading-04");
  margin-top: $spacing-07;
  font-weight: 100;
}

.step__body {
  @include carbon--type-style("body-short-01");
  margin-top: $spacing-05;
}

.link--read-more {
  display: inline-block;
  margin-top: $spacing-03;
  margin-bottom: $spacing-09;
}

.learn-more {
  padding-left: $layout-01;
  @media (min-width: 768px) {
    padding-left: $layout-05 + $spacing-03;
  }
}
