.sign-up__cards-container {
  margin: 0;
  margin-bottom: $spacing-08;
}

.sign-up__card {
  margin-top: $spacing-08;
}

.sign-up__card-image {
  height: 64px;
}

.sign-up__card-title {
  @include carbon--type-style("productive-heading-02");
  margin-top: $spacing-05;
}

.sign-up__card-body {
  @include carbon--type-style("body-short-01");

  margin-top: $spacing-02;
}

.sign-up__card-note {
  @include carbon--type-style("helper-text-01");

  display: inline-block;
  margin-top: $spacing-03;
}
