@import "@carbon/themes/scss/themes";
// Use the gray 10 theme
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

// carbon ui shell
$feature-flags: (
  ui-shell: true
);

// import carbon components styles
@import "carbon-components/scss/globals/scss/styles";

// $carbon--theme: $carbon--theme--g10;
// @include carbon--theme();
